{% extends "base.html" %}
{% block body %}
<div class="container d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        <div class="car contact-pag my-2 mx-2" style="width: 18rem;">
            <img src="/media/{{ video.video_image }}" class="card-img-top" alt="{{ video.video_image }}">
            <div class="card-bod">
                <h5 class="card-title my-2">{{ video.title }}</h5><hr>
                <p class="card-text">{{ video.description }}</p>
                <a href="{% url 'edit_video' video.id %}" class="btn btn-success">Edit</a>
                <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}