{% extends "base.html" %}
{% block body %}
<div class="container d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        <div class="card contact-page" style="width: 18rem;">
            <img src="{{ profile.profile_pic.url }}" class="card-img-top" alt="{{ profile.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ profile.name }}</h5>
                <p class="card-text">{{ profile.user_bio }}</p>
                <p class="card-text"><strong>Subjects:</strong> {{ profile.subjects }}</p>
                <a href="mailto:{{ profile.email }}" class="btn btn-primary my-3">Gmail</a>
                <a href="{% url 'edit_profile' profile.id %}" class="btn btn-success">Edit</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}